.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}

/* .nav-logo {
  flex-grow: 1;
} */

.navbar-content {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links > a {
  color: #4a4d50;
  font-family: Work Sans;
  text-decoration: none;
  font-size: 16px;
}

.header-button {
  color: white;
  /* padding: 10px 18px; */
  border-radius: 8px;
  border: none;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  width: 126px;
  height: 39px;
  font-family: Inter;
  font-weight: 600;
}

.curiosity-text {
  color: #ab26f8;
}
.frame6 {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.frame105 {
  display: inline-flex;
  justify-content: center;
  gap: 15px;
}

.frame36 {
  display: flex;
  align-items: center;
  gap: 18px;
}
.frame38 {
  display: flex;
  padding: 10px 20px;
  border-radius: 87.011px;
  background: #fff;
  box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
  gap: 16px;
}
