* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
  height: 100vh;
}

/* Header & Navitagion section */
header {
  background-color: #fff;
  width: 100%;
  height: 85px;
  padding: 8px 100px;
}
.navbar-content {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links > a {
  color: #4a4d50;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.header-button {
  color: white;
  border-radius: 8px;
  border: none;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  padding: 12px 20px 12px 20px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.navbar-content > img {
  visibility: hidden;
}
@media (max-width: 1100px) {
  .navbar-content > img {
    width: 35px;
    height: 35px;
    visibility: visible;
  }
  .nav-links {
    display: none;
  }
}

/* Hero Section */

.frame105 {
  max-width: 1254px;
  height: 620px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frame6 {
  flex: 1;
  width: 47%;
  max-height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

.socials {
  width: 442px;
  height: 44px;
  border-radius: 88px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.socials h3 {
  color: #5f6368;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
}

.frame6 h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  letter-spacing: -3.488415479660034px;
  text-align: left;
}

.frame6 h1 span {
  background: linear-gradient(to right, #f9c8bf, #f87c61, #ab26f8, #d75efc);
  -webkit-background-clip: text;
  color: transparent;
}
.frame6 p {
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}
.hero-button {
  color: white;
  border-radius: 8px;
  border: none;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  padding: 12px 20px 12px 20px;
  font-family: Inter;
  width: 130px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.introduction-image {
  width: 100%;
  height: auto;
  flex: 1;
}
@media (max-width: 900px) {
  .frame105 {
    flex-direction: column;
    gap: 10px;
  }
}

.courses {
  max-width: 1254px;
  min-height: 870px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.course-header {
  height: 20%;
  
}

.course-header h1 {
  color: #000000DE;
  font-family: Inter;
  font-size: 42px;
  line-height: 50px;
  font-weight: 600;
}
.course-header span {
  color: #59C878;
  font-family: Inter;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}
.course-header p {
  color: #2D312F;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.course-cards {
  min-height: 70%;
}
.card {
  max-width: 400px;
  min-height: 365px;
  background-color: white;
  border: none;
  border-radius: 24px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.info-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.card-head h3 {
  font-family: inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

}
.card-head p {
  font-size: work sans;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  text-align: justify;
}

@media only screen and (min-width: 900px) {
  .course-cards {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    background-color: #2196f3;
    padding: 10px;
    gap: 10px;
  }
 
}
